.guest-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin-bottom: 80px;
  flex: 1;
}

@media (max-width: 991px) {
  .main-content {
    margin-top: 60px;
  }
}
